
#gridWrapper{
  height: 1200px;
  width: 1800px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.content{
  display: block;
  grid-column: 1;
}

.new{
  display: block;
  grid-column: 2;
  font-size: small;
  cursor: pointer;
}